.connectButton {
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding: 10px 0 15px;
  margin: 10px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.connectButton__disabled{
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding: 10px 0 15px;
  margin: 10px 0;
  pointer-events: none;
  opacity: 0.5;
}
.connect__text {
  align-items: center;
  line-height: 0;
}
.connect__text h1 {
  font-size: 17px;
  font-weight: 500;
  line-height: 18px;
}
.connect__text__p {
  font-size: 14px;
  font-weight: 400;
  display: block;
    margin-top: 1em; 
    margin-bottom: 1em;
    margin-left: 0; 
    margin-right: 0; 
}

.check,.lock,.wallet-pic {
  padding: 5px;
  margin: 5px 15px 0;
  border-radius: 10px;
}
@media (prefers-color-scheme: dark) {
  .connectButton {
    border: 1px solid rgb(59, 59, 59);
  }
  .connectButton__disabled{
    border: 1px solid rgb(85, 85, 85);
  }
  .connectButton:active {
    background-color: #333336;
  }
  .check,.wallet-pic,.lock{
    background-color: #272728;
  }
  .connect__text__p {
    color: #ebebf599;
  }
}

@media (prefers-color-scheme: light) {
  .connectButton {
    border: 1px solid rgb(221, 221, 221);

  }
  .connectButton__disabled {
    border: 1px solid rgb(194, 194, 194);

  }
  .connectButton:active {
    background-color: rgb(214, 214, 214);
  }
  .check{
    background-color: #EAF9E6;
  }
  .wallet-pic{
    background-color: #EBF5FF;
  }
  .lock{
    background-color: #DCDCDD;
  }
  .connect__text__p {
    color: #3c3c4399;
  }
}
