.index-page__links {
  list-style: none;
  padding-left: 0;
}

.index-page__link {
  font-weight: bold;
  display: inline-flex;
  gap: 5px;
}

.index-page__link-item + .index-page__link-item {
  margin-top: 10px;
}

.index-page__link-icon {
  width: 20px;
  display: block;
}

.index-page__link-icon svg {
  display: block;
}

.description {
  margin-top: -5px;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;

}
.taskstitle {

  margin-top: 30px;
  font-weight: 590;
  font-size: 20px;
  margin-bottom: 8px;
  line-height: 24px;
}

.taskstitle2 {

  color: rgba(60, 60, 67, .6);
  color: rgba(235, 235, 245, .6);
  line-height: 20px;
  font-weight: 400;
  font-size: 15px;
}
.buttons {
  margin-top: 15px;
  padding-bottom: 40px;
}
@media (prefers-color-scheme: dark) {
  .taskstitle2 {
    color: rgba(235, 235, 245, .6);
  }
}

@media (prefers-color-scheme: light) {
  .taskstitle2 {
    color: rgba(60, 60, 67, .6);
  }
}