.index-page__links {
  list-style: none;
  padding-left: 0;
}

.index-page__link {
  font-weight: bold;
  display: inline-flex;
  gap: 5px;
}

.index-page__link-item + .index-page__link-item {
  margin-top: 10px;
}

.index-page__link-icon {
  width: 20px;
  display: block;
}

.index-page__link-icon svg {
  display: block;
}

.description {
  margin-top: -5px;
  font-size: 15px;
  line-height: 1.4;
  font-family: 'Roboto',sans-serif;
}
.taskstitle {
  font-family: 'Roboto',sans-serif;
  margin-top: 30px;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 12px;
}

.taskstitle2 {
  font-family: 'Roboto',sans-serif;
  color: var(--tg-theme-text-color);
  opacity: 0.7;
  line-height: 0.8;
  font-weight: 400;
  font-size: 15px;
}
.buttons {
  margin-top: 20px;
  padding-bottom: 40px;
}
