.page {
  padding: 0 10px;
  box-sizing: border-box;
}

.page__title {
  font-size: 24px;
  font-weight: 590;
  line-height: 28px;
}

.page__disclaimer {
  margin-bottom: 14px;
}
.page__img {
  max-width: 100%;
  min-height: 250px;
  border-radius: 20px;
  margin-bottom: 10px;
}
