body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--background-color);
  color: var(--tg-theme-text-color, black);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1C1C1E;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: white;
  }
}

blockquote {
  margin: 0;
}

blockquote p {
  padding: 15px;
  background: #eee;
  border-radius: 5px;
}

pre {
  overflow: auto;
}
